body{
    color: blueviolet;
    text-align: center;
}
body>p {
    font-family: 'Courier New', Courier, monospace;
}
#footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}
ul li{
    color: gray;
}
#footer p{
    color: azure;
    text-align: center;
}